<span>
    <style>
        .modalOverlay-active {
            position: fixed;
            bottom: 0px;
            top: 0px;
            left: 0px;
            right: 0px;
            opacity: .8;
            background-color: black;
            z-index: 1040;
        }

        .modalContent-active {
            position: fixed;
            bottom: 10%;
            top: 180px;
            left: 10%;
            right: 10%;
            /*opacity: .5;*/
            background-color: #ffffff;
            z-index: 1050;
            border-radius: 5px;;
            padding: 15px;
        }

        .modalCloseButton {
            position: absolute;
            display: inline-block;
            top: 5px;
            right: 5px;
            font-weight: bold;
            cursor: pointer;
        }

        .modalPrevButton {
            position: absolute;
            display: inline-block;
            bottom: 20px;
            left: 20px;
            cursor: pointer;
        }

        .modalNextButton {
            position: absolute;
            display: inline-block;
            bottom: 20px;
            right: 20px;
            cursor: pointer;
        }
    </style>

<!-------------TRIGGER------------------->

<img  ng-click="layoutservice.presentationViewerActive=true" ng-src="external_components/icons/svg/graphical6.svg" style="cursor: pointer"
     width="24" height="24" title="Show Presentation" />

<!-------------OVERLAY LAYER------------------->
<div ng-class="{'modalOverlay-active':layoutservice.presentationViewerActive}"
     ng-click="layoutservice.presentationViewerActive=false;"></div>

<!-------------CONTENT LAYER------------------->
    <div ng-class="{'modalContent-active':layoutservice.presentationViewerActive}" ng-style="{'display': + layoutservice.presentationViewerActive==true?'':'none'}">


        <super-viz></super-viz>

        <!--------CLOSE BUTTON---------------->
        <span class="modalCloseButton" ng-click="layoutservice.presentationViewerActive=false">
             <img  ng-src="external_components/icons/svg/delete30.svg"
                  width="20" height="20"/>
        </span>

        <!--------PREVIOUS/NEXT BUTTONS---------------->
        <button class="modalPrevButton" ng-click="SelectedChartIndex=SelectedChartIndex-1;">Previous</button>
        <button class="modalNextButton" ng-click="SelectedChartIndex=SelectedChartIndex+1;">next</button>


    </div>

</span>