<span style="border:1px solid lightgray; padding: 5px; position:relative; display: inline-block;">
    <span style="position:relative; display:inline-block; font-size:smaller; top:-8px; color:silver; ">this testChartContainer directive mimics a chartContainer directive</span>
    <span style="margin-bottom: -6px; position: relative; display:block;">width:<input ng-model="mywidth"
                                                                                       style="width:50px;height:20px;margin-right:10px; border: 1px lightgray solid;">
            height:<input ng-model="myheight" style="width:50px; height:20px;border: 1px lightgray solid;"
                          clearthreaddatatype="test"></span><br>
    <span ng-style="{width:mywidth,height:myheight}" style="position: relative; display: inline-block;">
            <super-viz></super-viz>
            </span>
    </span>