<span class='chartcontainer'
      data-drag="true"
      data-jqyoui-options="{revert: 'invalid', appendTo:'body',zIndex: 10}"
      jqyoui-draggable=" {onStart: 'startdragging()',onStop:'stopdragging()'}">

                <span class="paneldraghandle"
                      ng-click="editchart();
                      $event.stopPropagation();">

                     <span class="qid">{{questionsel.HierarchyId}}</span>

                     <!--<span>{{questionsel.Name}}</span>-->

                    <!-- <span class="delete" ng-click="deleteme()">X</span>-->
                </span>

                <span class="payload" ng-click="editchart(); $event.stopPropagation();">
                    <super-viz ctdatatype="{{ctdatatype}}"></super-viz>

                </span>
            </span>