<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../App/css/CTV2_Common.css">
    <link rel="stylesheet" href="../App/css/CreateReport.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">

    <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/underscore/underscore.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>

    <script src="../../external_components/angular-dragdrop.min.js"></script>
    <script src="../../external_components/draganddrop.js"></script>
    <script src="../App/appCreateReport.js"></script>
    <script src="../App/ReportDataService.js"></script>


    <script src="../../external_components/ng-google-chart.js"></script>
    <script src="superViz.js"></script>
    <script src="../App/MetricMakerSrvc.js"></script>
    <script src="svOptionsPanel/svOptionsPanel.js"></script>
    <script src="testChartContainer/testChartContainer.js"></script>

    <script src="../../external_components/textAngular.js"></script>
    <script src="../../external_components/textAngular-sanitize.js"></script>
    <script src="../../external_components/textAngularSetup.js"></script>
    <script src="../../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


    <script src="../../external_components/kdmDevTools/kdmDevToolsApp.js"></script>


    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript">
        appCreateReport.controller('superVisTestCtrl',function($scope, MetricMakerSrvc){
            $scope.MetricMakerSrvc=MetricMakerSrvc;
        })
    </script>

    <title></title>
    <style>
        h4 {
            font-size: large;
            margin-top: 60px;
            font-weight: bold;
        }

        body {
            padding: 50px
        }

        li {
            margin-top: 30px;
        }
    </style>
</head>
<body ng-app="AppCreateReport" ng-controller="superVisTestCtrl">
<kdm-navigation></kdm-navigation>

<!--------------SUPERVIZ DIRECTIVE---------------------->

<h2>superViz directive</h2>
The super-viz directive hosts any type of visualization supported by clearthread reports. It is a child of the
chartContainer directive, which provides placement (drag/drop/delete/size) services to it.


<!--------------GENERAL CASE---------------------->

<h4>General Case</h4>
<ul>
    <li>
        <test-chart-container width="400" height="400"></test-chart-container>
    </li>
</ul>


<!--------------RULES FOR SCOPE---------------------->
<h4>Rules for Scope</h4>
<ul>
    <li>
        <p>Scope Diagram</p>
        <a href="https://www.lucidchart.com/invitations/accept/49216738-f3a8-4469-93c0-343cba0db27d">
            <img src="https://www.lucidchart.com/publicSegments/view/5424330c-54c0-4c6d-a554-197d0a0099df/image.png"
                 width="600px"></a>
    </li>
    <li>propertyBag is an object declared in chartContainer (testChartContainer in isolateddev) that holds dynamically
        created properties available to all components within the shared scope.
    </li>
    <li><p>Scope can be tested by injecting a string representation of datatype it into the testChartContainer directive
        via
        a ctdatatype attribute.</p>
        <pre style="width:700px"><code>&lt;test-chart-container width="400" height="200" ctdatatype="Boolean">&lt;/test-chart-container></code></pre>
        <p>The datatype should propagate throughout the entire shared scope in
            scope.propertyBag.clearthreaddatatype.</p>
    </li>
    <li><p>The superViz directive contains references to the ReportDataSrvc and MetricMakerSrvc services.</p>
        <img src="https://www.lucidchart.com/publicSegments/view/54249488-92f8-4377-8ec6-2aa30a00c60b/image.png"
             width="400"/>

    </li>
</ul>

<!--------------METRICMAKERSRVC---------------------->

<h4>MetricMakerSrvc</h4>
<ul>
    <!----Supported Visualization Types---->
    <li>Supported Visualization Types (MetricMakerSrvc.visualizationTypes):
        <ul><br/>

            <div ng-repeat="vt in MetricMakerSrvc.visualizationTypes | orderBy:'toString()'">{{vt}}</div>
        </ul>
    </li>

    <!----- preMadeMetrics------->
    <li>preMadeMetrics -- In order to allow users to easly drag a question onto the report grid we need to support the
        concept of premade metrics. A visualization does not depend directly on base datatypes, but on a <i>metric</i>.
        Additionally, metrics are not necessarily compatable with just any base datatype.
        <style>
            #superviztesttblpremademetrics thead {
                font-weight: bold;
            }

            #superviztesttblpremademetrics td {
                border: 1px gray solid;
                padding: 5px;
                margin: 5px;
            }
        </style>
        <ul><br/>
            The following table is derived from the following MetricMakerSrvc property:
            <pre style="width:400px"><code>MetricMakerSrvc.preMadeMetrics</code></pre>
            <table id="superviztesttblpremademetrics" style="border: 1px gray solid;padding: 5px;width:900px;">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Valid Vizualizations</td>
                </tr>
                </thead>
                <tr ng-repeat="pm in MetricMakerSrvc.preMadeMetrics">

                    <td>{{pm.name}}</td>
                    <td>{{pm.description}}</td>
                    <td><span ng-repeat="vv in pm.validVisualizations">{{vv}}, </span></td>

                </tr>
            </table>
            <br/>
        </ul>
    </li>

    <!------------defaultVisualizations------------------>
    <li>CTDataTypes and corresponding default metrics and default visualization types.
        <style>
            #superviztesttbllegalvisualizations thead {
                font-weight: bold;
            }

            #superviztesttbllegalvisualizations td {
                border: 1px gray solid;
                padding: 5px;
            }
        </style>
        <ul><p><br/>
            The following table is derived from the following MetricMakerSrvc property:
            <pre style="width:400px"><code>MetricMakerSrvc.defaultVisualizations</code></pre>

            <table id="superviztesttbllegalvisualizations" style="border: 1px gray solid;padding: 5px">
                <thead>
                <td>CTDataType</td>
                <td>Default Metric</td>
                <td>Default Vizualization</td>
                </thead>
                <tr ng-repeat="lv in MetricMakerSrvc.defaultVisualizations | orderBy:'ctdatatype'">

                    <td>{{lv.ctdatatype}}</td>
                    <td>{{lv.defaultmetric}}</td>
                    <td>{{lv.defaultvisualization}}</td>

                </tr>
            </table></p>
        </ul>
    </li>
</ul>

<!--------------OPTIONS PANEL---------------------->

<h4>ReportDataSrvc</h4>
<ul>
    <li>The ReportDataSrvc service provides access to all data endpoints on the server. This includes questions,
        metricresults, locations, saved uioptions, etc...
    </li>
</ul>

<!--------------OPTIONS PANEL---------------------->

<h4>svOptionsPanel</h4>
<ul>
    <li>
        <p>The svOptionsPanel directive is a child of the superViz directive. It is responsible for displaying options
            that are specific to the datatype assigned to it's parent superViz.
        </p></li>

    <li><p>The svOptionsPanel shares scope with it's parent superViz.
    </li>
    <li><p>The datatype associated with a svOptionsPanel (or a superViz, for that matter) never changes. If a user wants
        a different
        datatype associated with a chart, s/he must delete the chart and drag a different question onto the
        grid.</p>
    </li>
    <li>The visualization type associated with a svOptionsPanel <i>can</i> change, since a user may choose to change a
        vizualization between different types (say, from verticalbar to linechart).
    </li>
    <li><p>The svOptionsPanel is the parent of svOptions[visualization type]. This means that depending on the datatype
        associated with the current
        chartContainer, a corresponding svOptionsPanel[visualization type] directive is instanciated. For example, if
        the current datatype is SingleChoice, and the default visualization type for
        SingleChoice is PieChart, the svOptionsPanel will instanciate a child sv-options-piechart directive.</p>
        <a href="https://www.lucidchart.com/invitations/accept/cb3b4fb7-febe-4507-8dad-97a65eaa648b">
            <img src="https://www.lucidchart.com/publicSegments/view/542489e2-1608-4ec0-8b67-46310a009686/image.png"
                 width="400"/></a>
    </li>
    <li><p>svOptionsPanel Sizing --
        Most of the time the svOptionsPanel is hidden. When it is activated it should float along the upper inside
        right edge of the parent superViz directive. </p>
    </li>
</ul>


<!--------------ITERATE THROUGH ALL CLEARTHREAD DATATYPES---------------------->

<h4>Iterate Through all ClearThread Datatypes</h4>
<ul>
    <li>
        <p>Iterate through each of the clearthread datatypes and see what the rendered superViz directive.</p>

        <div ng-repeat='datatype in ["Address",
    "AlphaNumber",
    "Barcode",
    "Boolean",
    "Date",
    "Geolocation",
    "Group",
    "Integer",
    "Measurement1D",
    "Measurement2D",
    "Measurement3D",
    "MultiChoice",
    "MultiLineText",
    "Number",
    "Percentage",
    "SingleChoice",
    "SingleLineText",
    "Title"]'><p style="margin-top: 40px; color:darkolivegreen; font-weight: bold">Datatype: {{datatype}}</p>
            <test-chart-container width="400" height="200" ctdatatype={{datatype}}></test-chart-container>
            <div style="font-size: smaller">* the panel should be appropriate for {{datatype}}</div>
        </div>


    </li>
</ul>


<!--------------SIZING---------------------->

<h4>Sizing</h4>
<ul>
    <li>Should dynamically adjust size to fill it's parent container. This is a test container with default dimensions
        set to 200x200.<br/>
        <test-chart-container width="200" height="200"></test-chart-container>
    </li>
    <li>An empty host (positioned div (200x200) with no child superViz directive)<br/>

        <div style="display: inline-block; position:relative; background-color: pink; height: 200px; width:200px;">
            host
        </div>
    </li>

    <li>A host with a child superViz directive (positioned div (200x200))<br/>

        <div style="display: inline-block; position:relative; background-color: pink; height: 200px; width:200px;">
            <super-viz></super-viz>
        </div>
    </li>
    <li>A superViz directive that is not wrapped in a host looks like this<br/>
        <super-viz></super-viz>
    </li>
</ul>


<!--------------BEHAVIOR ATTRIBUTES---------------------->
<h4>Behavior Attributes</h4>
<ul>
    <li>Multiple instances of directive should be isolated from each other. Changes in one should not affect any
        other.
    </li>
    <li>Should have a control panel that opens on mouseover</li>
</ul>


<!------------USAGE------------>
<h4>Usage</h4>
<ul>
    <li>This page uses a special testChartContainer directive that wraps the superViz directive in a postioned
        (and dynamically sized) span element. It looks like this:
    <pre style="width:900px"><code>&lt;test-chart-container width="200" height="200" ctdatatype="SingleLineText" >&lt;/test-chart-container>
    </code></pre>
    </li>
    <li><p>In the production environment, use a chartContainer instead of a testChartContainer.</p>
        <pre style="width:900px"><code>&lt;chart-container width="200" height="200" ctdatatype="SingleLineText" >&lt;/chart-container>
        </code></pre>
    </li>

</ul>
<!--------------BEHIND THE CURTAIN----------->
<H4>Behind the Curtain</H4>
<ul>
    <li>
        This is a listing of the testChartContainer directive to show how it is merely a wrapper around the superViz
        directive.
<pre style="width:900px"><code>
    appCreateReport.directive('testChartContainer', function () {
    "use strict";
    return{
    restrict: 'E',
    scope: true,
    templateUrl:'test-container.html',
    link: function (scope, el, attrs) {
    scope.mywidth = attrs.width;
    scope.myheight = attrs.height;
    scope.clearthreaddatatype=attrs.ctdatatype;
    }
    }
    })
</code></pre>
    </li>
    <li>
        <p>And the associated template, test-container.html (inline styling used because this will never be deployed in
            prod)</p>
 <pre style="width:900px"><code>
     &lt;span style="border:1px solid lightgray; padding: 5px; position:relative; display: inline-block;">
     &lt;span style="position:relative; display:inline-block; font-size:smaller; top:-8px; color:silver; ">
     this testChartContainer directive mimics a chartContainer directive&lt;/span>
     &lt;span style="margin-bottom: -6px; position: relative; display:block;">
     width:&lt;input ng-model="mywidth" style="width:50px;height:20px;margin-right:10px;
     border: 1px lightgray solid;">
     height:&lt;input ng-model="myheight" style="width:50px; height:20px;border: 1px lightgray solid;"
     clearthreaddatatype="test">&lt;/span>&lt;br>
     &lt;span ng-style="{width:mywidth,height:myheight}" style="position: relative; display: inline-block;">
     &lt;super-viz>&lt;/super-viz>
     &lt;/span>
     &lt;/span>
 </code></pre>
    </li>
</ul>

</body>
</html>